$opacity-transition: opacity;

@mixin non-margin-padding {
    padding: 0;
    margin: 0;
}

.dashboard {
    display: flex;
    flex-direction: row;
    height: 100vh;
    &_container {
        @include non-margin-padding;
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100%;
    }
    &-pages {
        @include non-margin-padding;
        background-color: var(--basic-bg);
        width: 100%;
    }
}


.small-row {
    font-family: 'Poppins-Medium';
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

}

.columnTitle {
    flex: 1;
    padding: 5px;
    font-family: 'Poppins-Medium';

}

.column {
    flex: 1;
    padding: 0px;

}

.form-header {
    font-weight: bold;
    background-color: #f0f0f0;
    padding: 5px 0;
}


.page-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.page-info h1 {
    @include non-margin-padding;
    text-align: start;
    font-family: 'Poppins-Light';
}

.page-searcher {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.page-searcher label {
    @include non-margin-padding;
    background: transparent;
    letter-spacing: 1px;
    font-family: 12px;
}

.page-searcher input {
    border: none;
    border-bottom: 1px var(--black) solid;
    font-size: 16px;
    margin-top: 0.5rem;
}

.assigned-missions {
    display: flex;
    justify-content: center;
    align-items: center;
}

//DashboardMission
.dashboard-table {
    display: flex;
    flex-direction: column;
    width: 95%;
    border: 1px var(--gray-btn) solid;
    border-radius: 10px;
    padding: 1rem;
}

.dashboard-table h1 {
    @include non-margin-padding;
    font-family: 'Poppins-Light';
}

.dashboard-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.subHeader {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.submenu-mission button {
    min-width: 1rem;
    background-color: transparent;
    text-transform: uppercase;
    color: var(--gray-btn);
    font-family: 'Poppins-Medium';
    border-radius: 0;
}

.submenu-mission button:hover, button.active {
    color: var(--primary-hover-btn);
    border-bottom: 1px var(--primary-hover-btn) solid;
    transition: 0.5s ease-in-out;
}

.mission_create {
    min-width: 1rem;
    background-color: transparent;
    border: 1px solid var(--primary-btn);
    color: var(--primary-btn);
    font-family: 'Poppins-Medium';
    border-radius: 6px;
}

.mission_create:hover {
    background-color: var(--hover-effect);
    color: var(--primary-btn);
    transition: 0.5s ease-in-out;
}

.mission-badge {
    display: inline-block;
    background-color: var(--colorful-yellow);
    border-radius: 15px;
    padding: 2px 5px;
    margin-right: 0.5rem;
    margin-bottom: 10px;
}

table {
    width: 100%;
    max-height: 100px;
    overflow: auto;
}

td {
    border-bottom: 1px solid var(--light-gray);
    padding: .7rem;
    font-family: 'Poppins-Light';
    font-size: 14px;
}

th {
    font-family: "Poppins-Light";
    font-size: 14px;
    padding: .7rem;
}

table input {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin: 0 0.5rem;
    text-transform: uppercase;
    font-family: 'Poppins-Regular';
}

.openBtn {
    color: white;
    border: none;
    background-color: var(--primary-btn);
    cursor: pointer;
}

.borderBtn {
    border: 1px var(--primary-btn) solid;
    color: var(--primary-btn);
    background-color: transparent;
    cursor: pointer;
}

.addVulnBtn {
    color: var(--primary-btn);
    background-color: transparent;
    border: 1px var(--primary-btn) solid;
    padding: .6rem 1.2rem;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
}

.borderBtnError {
    @extend .borderBtn;
    border-color: red;
    color: red;
}

.borderBtnError:hover {
    background-color: var(--hover-effect);
    transition: 0.5s ease-in-out;
}

.process {
    &-td {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    &-bar {
        position: relative;
        width: 10rem;
        height: 5px;
        border-radius: 10px;
        margin-right: 1rem;
        background-color: var(--gradient-primary-btn);
    }

    &-container {
        width: 90%;
        height: 100%;
        border-radius: 10px;
        background-color: var(--primary-btn);
    }

    &-percent {
        font-family: 'Poppins-Regular';
        font-weight: 400;
        font-size: 14px;
        color: black;
    }
}

//Pagination
.pagination {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.page-item {
    margin: 1rem;
}

.page-item.active {
    font-weight: bold;
}
.page-link {
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    align-content: center;
    font-family: 'Poppins-Regular';
}

@media only screen and (max-width: 960px) {
    .page-info h1,
    .dashboard-table h1 {
        font-size: 1.5rem;
    }
    .process-bar {
        display: none;
    }
    .subHeader button {
        min-width: 0.5rem;
        font-size: 12px;
        font-family: 'Poppins-Light';
    }
    td {
        font-size: 13px;
    }
}

// DorkEngine

.dork_input {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 2rem;
    justify-content: center;
    align-items: center;
    margin: 1rem
}

.dork_input label {
    @include non-margin-padding();
    background: transparent;
    margin-right: 1rem;
}

.dork_link {
    text-decoration: none;
    font-family: 'Poppins-Regular';
    color: var(--black);
    cursor: pointer;
}

.dork_link:hover {
    color: var(--primary-hover-btn);
}

.no_center_container {
    text-align: left !important;
}

.searchBtn {
    min-width: 10px;
    height: 2.5rem;
    padding: 5px 10px;
    margin: 0 .5rem;
}

//crtsh

.crt-form-control {
    width: 70%;
    height: 2.7rem;
    padding: 0.5rem 1rem;
    letter-spacing: 0.15em;
    font-size: 14px;
    font-family: 'Poppins-Regular';
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--gray-btn);
}

.crt-form-control::placeholder {
    font-size: 1em;
}


.crt_input_field {
    height: 2.5rem;
    padding: 5px 5px;
    margin: 0 1rem;
    border-radius: 10px;
    outline-style: none ;
    border: none;
    border: 1px solid var(--gradient-primary-btn);
}

.crt_input_field:focus {
    border: 1px solid var(--primary-btn);
}

.crt_input {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: end;
    margin: 1rem
}

.crt_input label {
    @include non-margin-padding();
    background: transparent;
    margin-right: 1rem;
}

.crt-pagination {
    padding: 0.5rem 1rem;
    overflow: hidden;
    border-radius: 6px;
    border: 1px solid var(--primary-btn);
    font-size: 0.8rem;
}

.crt-pagination::-webkit-inner-spin-button {
    appearance: none;
}

.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input {
    font-size: 12px !important;
}

.crt_search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
//Notes

.container-note {
    overflow-y: scroll;
    padding: 10px;
    scrollbar-color: var(--primary-btn);
    scrollbar-width: thin;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 30px;
}

.card {
    display: grid;
    grid-template-rows: max-content 200px 1fr;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 250px;
    height: 270px;
    margin-top: 10px;
    border-radius: 5px;
    font-family: 'Poppins-Light';

    &-content {
        overflow: hidden;
        padding: 2px 16px;
        height: 120px;
        text-align: start;
        text-overflow: ellipsis;
        font-family: 14px;
    }
}

.card:hover {
    box-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.2);
}

footer {
    display: flex;
    justify-content: start;
    padding: 8px 16px;
    border-radius: 0px 0px 5px 5px;
    justify-content: space-around;
}

.modal-header {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
}

.close {
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: end;
    height: 16px;
    text-decoration: none;
    width: 16px;

    svg {
        width: 16px;
    }
}

.rotate {
    transform: rotate(90deg);
}

.modal-wrapper {
    z-index: 99;
    align-items: center;
    background: rgba(0, 0, 0, 0.219);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}

.modal-card {
    max-width: 500px;
    opacity: 1;
    transform: translateY(-100px);
    transition: $opacity-transition;
    width: 100%;
    z-index: 1;
    text-align: start;
    padding: 16px;
    border-radius: 10px;
    background-color: white;

    .centered {
        justify-content: center;
        align-items: center;
    }
}

.modal {
    transition: $opacity-transition;

    &:target {
        opacity: 1;
        visibility: visible;

        .modal-body {
            transform: translateY(1);
        }
    }

    &-body {
        max-width: 500px;
        opacity: 1;
        width: 100%;
        display: flex;
        justify-content: 'center';
        text-align: start;
        padding: 16px;
    }
}

.button__link {
    background-color: none;
    color: var(--primary-btn);
}

.button__link:hover {
    color: var(--gradient-primary-btn);
}

.centered{
    transform: translateX(-50%);
    position: relative;
    left: 50%;
}

.btn-block {
    margin-top: 10px;
    margin-bottom: 10px;
    flex-direction: row;
    justify-content: space-evenly;
    display: flex;
}

.btn {
    min-width: 20px;
    width: 35%;
    height: 35px;
    border-radius: 10px;
    text-align: center;
    align-items: center;
}

.btn:hover {
    background: var(--gradient-primary-btn);
    color: white;
}

.submit {
    color: white;
    background-color: var(--primary-btn);
}

.cancel {
    border: 1px solid black;
    border-color: var(--primary-btn);
    color: var(--primary-btn);
    background-color: white;
}

.md-1 {
    width: 10%;
}

.md-2 {
    width: 20%;
}

.md-3 {
    width: 30%;
}

.md-4 {
    width: 40%;
}

.md-5 {
    width: 50%;
}

.des-overflow {
    max-width: 100px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.des-a {
    color: var(--gray-btn);
    cursor: pointer;
    font-size: 14px;
}

.des-a:hover {
        color: var(--primary-btn);
        transition: .5s;
    }