.profile {
    &-container {
        background-color: white;
        display: flex;
        flex-direction: row;
        width: 95%;
        border: 1px var(--gray-btn) solid;
        border-radius: 10px;
        padding: 1rem;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }

    &-username {
        display: flex;
        flex-direction: column;
        align-items: start;
    
        & h5 {
            font-size: 16px;
            font-family: "Poppins-Regular";
            padding: 0;
            margin: 0;
        }
    
        & p {
            font-size: 14px;
            font-family: "Poppins-Light";
            padding: 0;
            margin: 0;
        }
    }

    &-infos {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-bottom: 1rem;
    
        & p {
            font-size: 12px;
            font-family: "Poppins-Light";
            padding: 0;
            margin: 0;
        }
    
        & span {
            font-size: 16px;
            font-family: "Poppins-Light";
            padding: 0;
            margin: 0;
        }
    
    }

    &-pic{
        background-color: white;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 5px;
        width: 30%;
        height: 500px;
        margin-top: 50px;
    }

    &-h4 {
        font-size: 13px;
        font-family: 'Poppins-Regular';
    }

    &-photo {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }

    &-mission-detail {
        width: 100%;
        display: grid;
        grid-template-columns: 33.33% 33.33% 33.33%;
        grid-template-rows: auto;
    }

    &-mission-card {
        padding: 1rem;
        margin: 2rem;
        height: 23vh;
        background-color: var(--light-gray);
        border-radius: 4px;
        padding: 1rem;
        & h4 {
            margin: 0;
            overflow-wrap: break-word;
        }
        & p {
            margin: 0;
            padding: 0;
        }
    }
}

.detail-btn {
    min-width: 2px;
    width: fit-content;
    height: 2rem;
    padding: 5px 10px;
    margin: 0 .5rem;
    text-align: end;
}

.mainInfo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.showInfo {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.info-h4 {
    color: var(--gray-btn);
}

.btn-container {
    display: flex;
    justify-content: end;
}

.set-button {
    min-width: 1rem;
    background-color: white;
    color: var(--primary-btn);
    border: 1px solid var(--primary-btn);
    border-radius: 6px;
}

.main-button {
    min-width: 1rem;
    padding: .75rem;
    background-color: var(--primary-btn);
    color: white;
    border-radius: 6px;
}