//team
.team {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: "Poppins-Regular";
}

.heading {
    margin: 2rem 0;
    font-size: 1.5rem
}

.team h1 {
    font-size: 2rem;
    color: var(--primary-btn);
}

.carrousel {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.carroussel-item {
    width: 50%;
}



.socials a {
    text-decoration: none;
    color: black;
    transition: all 0.2s ease-in-out;

}

.timezone {
    font-style: italic;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 4rem;
    color: black;
}
.socials a:hover {
    color: var(--primary-btn);
}

.avatar-wrapper img {
    width: 20rem;
    height: 20rem;
    border-radius: 100%;
}

.carrousel button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    background: none;
    width: 25%;
    border: none;
    transition: all 0.2s ease-in-out;
}
.caroussel-nav-sub {
    font-size: 1.2rem;
}

.carrousel button:hover {
    color: var(--primary-btn);
    cursor: pointer;
}

/** Fade transitions **/
.fade-enter {
    opacity: 0;
    transform: scale(0.9);
  }
  .fade-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
  }