//Top bar
.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    margin: 0;
    height: 10vh;
}

.search-input {
    width: 20%;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: var(--hover-effect);
    font-size: 10px;
    letter-spacing: 1px;
}

.topBar-wrapper {
    position: relative;
    width: 20%;
}

.topBar-searchIcon {
    position: absolute;
    box-sizing: border-box;
    top: 16px;
    left: 5px;
    transform: translateY(-50%);
}

.topBar-input {
    height: 30px;
    box-sizing:border-box;
    padding-left: 1.5rem;
    border: none;
    border-radius: 10px;
    background-color: var(--hover-effect);
    font-size: 14px;
    letter-spacing: 1px;
}

.input::placeholder {
    font-size: 12px;
}

.btn, .btn-profile {
    color: var(--gray-btn);
    padding: 5px;
    margin: 0px 5px;
    cursor: pointer;
}


//SideBar
.site-title {
    font-size: 2rem;
    font-family: "Poppins-Bold";
    text-align: left;
    color: var(--black);
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-left: 20px;
}

.sidebar {
    background-color: var(--secondary-bg);
    width: 250px;
    height: 100%;
    padding: 0;
    margin: 0;
}

.sidebar a {
    text-decoration: none;
}

.sidebar-tool {
    margin-top: 2rem;
}

// SubMenu
.sidebar-link {
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    list-style: none;
    height: 100%;
    font-size: 17px;
    font-family: "Poppins-Regular";
}

.sidebar-link:hover, .dropdown-menu:hover {
    background-color: var(--gray-btn);
    transition: .5s ease-in-out;
    cursor: pointer;
}

.sidebar-item {
    display: flex;
    color: car(--black);
    justify-content: space-between;
}

.menu-txt {
    margin-left: 1rem;
    color: var(--black);
}

.dropdown-menu {
    height: 2rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--black);
    font-size: 17px;
    font-family: "Poppins-Regular";
    padding: 10px;
    padding-left: 3rem;
    list-style: none;
}