//Top bar
$opacity-transition: opacity;

.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--basic-bg);
    padding: 5px 20px;
    margin: 0;
    height: 10vh;
    border-bottom: 1px solid var(--hover-effect);
}

.search-input {
    width: 20%;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: var(--hover-effect);
    font-size: 10px;
    letter-spacing: 1px;
}

.topBar-searchIcon {
    position: absolute;
    box-sizing: border-box;
    top: 16px;
    left: 5px;
    transform: translateY(-50%);
}

.topBar-input {
    height: 30px;
    box-sizing: border-box;
    padding-left: 1.5rem;
    border: none;
    border-radius: 10px;
    background-color: var(--hover-effect);
    font-size: 14px;
    letter-spacing: 1px;
}

.borderBtn {
    border: 1px var(--primary-btn) solid;
    color: var(--primary-btn);
    background-color: transparent;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin: 0 0.5rem;
}

.borderBtn:hover {
    background-color: var(--hover-effect);
    transition: 0.5s ease-in-out;
}

.input::placeholder {
    font-size: 12px;
}

.btn,
.btn-profile {
    background-color: transparent;
    color: var(--gray-btn);
    padding: 5px;
    margin: 0px 5px;
    cursor: pointer;
}

.btn-profile svg:hover {
    color: var(--primary-btn) !important;
    transition: 0.5s ease-in-out;
}

.btn-left {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: end;
    align-items: center;
}

//SideBar
.sidebar-site-title {
    font-size: 2rem;
    font-family: 'Poppins-Bold';
    text-align: left;
    color: var(--black);
}

.sidebar {
    background-color: var(--secondary-bg);
    width: 250px;
    height: 100%;
    padding: 0;
    margin: 0;
}

.sidebar Link {
    display: flex;
    flex-direction: row;
}

.sidebar a {
    text-decoration: none;
}

.sidebar-tool {
    position: fixed;
    left: 0;
    bottom: 0;
}

// SubMenu
.sidebar-link {
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    list-style: none;
    height: 100%;
    font-size: 17px;
    font-family: 'Poppins-Regular';
}

.sidebar-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

.sidebar-link:hover,
.dropdown-menu:hover {
    background-color: var(--hover-effect);
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.sidebar-link-bottom {
    @extend .sidebar-link;
}

.sidebar-link-bottom:hover {
    background-color: transparent;
    cursor: pointer;
}
.sidebar-item {
    display: flex;
    color: car(--black);
    justify-content: space-between;
}

.menu-txt {
    margin-left: 1rem;
    color: var(--black);
    font-size: 15px;
}

.dropdown-menu {
    height: 2rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--black);
    font-size: 14px;
    font-family: 'Poppins-Regular';
    padding: 10px;
    padding-left: 3rem;
    list-style: none;
}

//POPUP
.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.popup-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--hover-effect);
    width: 30%;
    height: 50%;
    opacity: 1;
    border-radius: 10px;
}

.popup-input {
    width: 80%;
    height: 2.5rem;
    border-radius: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.popup-input:hover,
.popup-textarea:hover {
    border: 1px solid transparent;
    box-shadow: 0 0 3px 0 #ab69be;
}

.popup-textarea {
    width: 80%;
    border-radius: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.error {
    width: 80%;
    font-family: 'Poppins-Regular';
    text-align: left;
    font-size: 13px;
    color: red;
}

.sendBtn,
.cancelBtn {
    min-width: 10px;
    width: 80%;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
}

.cancelBtn {
    color: var(--black);
    background-color: var(--gradient-primary-btn);
}

.search-modal-wrapper {
    align-items: center;
    background: rgba(0, 0, 0, 0.808);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 80;
}

.search-modal-card {
    max-width: 30vw;
    max-height: 50vh;
    opacity: 1;
    transform: translateY(-10vh);
    transition: $opacity-transition;
    width: 100%;
    height: 100%;
    z-index: 1;
    text-align: start;
    padding: 16px;
    border-radius: 10px;
    background-color: white;
}
.centered {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.search-modal {
    transition: $opacity-transition;
    display: grid;
    align-content: space-between;
    height: 100%;

    &:target {
        opacity: 1;
        visibility: visible;

        .modal-body {
            transform: translateY(1);
        }
    }
}
