/* Markdown Editor container */
.markdown-editor {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
/* Markdown Editor textarea */
textarea {

  text-align: left;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  overflow-y: scroll; /* Enable vertical scrolling for overflow */
  min-height: 400px;
}
}

/* Editor column */
.editor-column {
  flex: 1;
}



/* Previewer column */
.previewer-column {
  flex: 1;
}

/* Markdown Preview container */
.markdown-preview {

  text-align: left;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  overflow-y: scroll; /* Enable vertical scrolling for overflow */
  min-height: 400px;
}

/* Responsive layout adjustments */
@media (max-width: 768px) {
  .markdown-editor {
    flex-direction: column;
    align-items: center;
  }

  .editor-column,
  .previewer-column {
    width: 100%;
    margin-bottom: 20px;
  }
}