.setting-container{
    height: 100%;
}

.page-info{
    font-style: 'Poppins-regular';
}

.page-info h3 {
    text-align: start;
    font-family: "Poppins-Light";
    font-size: 13px;
}

.setting-feats{
    height: 70%;
    margin: 5px;
    display: flex;
}

.setting-menu{
    width: 25%;
    padding: 25px;
}

.setting-content{
    width: 70%;
    border-radius: 10px;
    height: fit-content;
    background-color: white;
    border: 1px solid var(--light-gray);
    padding: 1rem;
}

.set-menu li{
    list-style: none;
    margin: 10px;
}

.menu-btn{
    background-color:transparent;
    color: black;
    font-weight: bold;
}

.set-input{
    position: relative;
    width: 100%;
    margin: 20px;
}
.setting-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    height:auto;
}
  
.input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
}

.input label {
    font-size: .9rem;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, -50%);
}

.input input[type='text'] {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    margin-top: 1.5rem; /* Ajout de la marge pour laisser de la place pour le label */
}

.input-small input[type='text'] {
    width: 150px;
}

.input-medium input[type='text'] {
    width: 100%;
    height: 40px;
}
  
.input-large input[type='text'] {
    width: 100%;
    height: 90px;
}

.input-group {
    display: flex;
    gap: 1rem;
}
  
.input-group .input {
    flex-basis: 50%;
}

.buttons-container{
    display: flex;
    gap: 1rem;
    width: max-content;
}

.submit-button{
    width: 160px;
}
.cancel-button{
    background-color: white;
    width: 5px;
    color: #7C44F3;
}

.pwd {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
}

.pwd label {
    font-size: .9rem;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, -140%);
}

#input_pwd{
    height: 2.5rem;
    border-radius: 6px;
    padding: .5rem;
    border: 1px solid var(--primary-btn);
}


.pwdEyeBtn {
    background: transparent;
    color: var(--gray-btn);
    font-size: 1.2rem;
    outline: none;
    max-width: 1em;
    margin: 0;
    padding: 0;
    margin-left: 94%;
    margin-top: -2.5rem;
    cursor: pointer;
}

.pwdEyeBtn:hover {
    background: transparent;
    color: var(--primary-hover-btn);
}

.modal-card-secu {
    max-width: 700px !important;
}

.subHeader {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.submenu-security button {
    min-width: 2rem;
    background-color: transparent;
    text-transform: uppercase;
    color: var(--gray-btn);
    font-family: 'Poppins-medium';
    font-size: 16px;
    border-radius: 0;
}

.submenu-security button:hover, button.active {
    color: var(--primary-hover-btn);
    border-bottom: 1px var(--primary-hover-btn) solid;
    transition: 0.5s ease-in-out;
}

.setting-account-form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.billing-plan{
    &-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 10px;
        background-color: var(--primary-btn);
        padding: 1rem;
    }

    &-actuel {
        display: flex;
        flex-direction: column;
        width: 50%;
        text-align: left;
        justify-content: center;
        color: white;
        // align-items: center;
    
        & p {
            margin: 0
        }
    
        & h3 {
            font-family: "Poppins-Light";
            font-weight: 200;
            margin: 0;
            padding: 0;
        }
    
        & h2 {
            font-family: "Poppins-SemiBold";
            margin: 0;
            padding: 0;
        }
    }    
}

.change-plan-btn {
    border-radius: 4px;
    border: 1px solid white;
    color: white;
    padding: 1rem;
}

.billing-card-form-container {
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid var(--light-gray);
    & h2 {
        margin: 0;
        padding: 0;
    }
}

.billing-card-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}