.footer {
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: --black;
    border-top: #0000002d 1px solid;
    padding: 0.5rem;
    font-family: 'Poppins';
}

.footer p {
    margin: 0.2rem;
    padding: 0;
}

.footer ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.footer a {
    text-decoration: none;
    color: var(--primary-btn);
    cursor: pointer;
    &:hover {
        text-decoration: underline;
        color: var(--primary-hover-btn);
        transition: 0.3s ease-in-out;
    }
}
