html {
    scroll-behavior: smooth;
}

section {
    background-color: var(--basic-bg);
    justify-content: center;
}

// Home
.home {
    display: flex;
    margin: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--basic-bg);
}

.loader {
    position: absolute;
    width: 70%;
    height: 80%;
    top: 40%;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    filter: blur(50);
    background: linear-gradient(15deg, transparent, transparent 90%, #7c44f3);
}

.loader:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background: var(--basic-bg);
    border-radius: 50%;
    z-index: 2;
    filter: blur(50px);
}

.loader:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: linear-gradient(5deg, transparent, transparent 40%, var(--primary-btn));
    border-radius: 50%;
    z-index: 1;
    filter: blur(50px);
}

.home-container {
    display: flex;
    flex-direction: column;
}

.home-container h1,
h4 {
    color: var(--black);
    z-index: 3;
}

.home-container span {
    color: var(--primary-btn);
}

.home-container h1 {
    font-family: 'Poppins-Bold';
    font-weight: bold;
    font-size: 8rem;
    padding: 0;
    margin: 0;
}

.home-container h4 {
    font-family: 'Poppins-Regular';
    font-weight: 600;
    font-size: 25px;
}

@media only screen and (max-width: 480px) {
    .loader:after,
    .loader:before,
    .loader {
        background: none;
        filter: none;
    }

    .home-container h1 {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 800px) {
    .home-container h1 {
        font-size: 4rem;
    }
}

