// About
.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10%;
    height: 100vh;
    z-index: 10;
}

.about-main-row {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.about-catch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 2vw;
    text-decoration: none;
}

.about-catch h1 {
    color: var(--primary-btn);
    font-family: 'Poppins';
    font-size: 3rem;
    width: fit-content;
    margin: 0;
}

.about-catch button {
    width: 30%;
    font-size: 1.5rem;
    border: none;
    background-color: var(--primary-btn);
    color: white;
    font-family: 'Poppins';
    padding: 0.5rem;
    border-radius: 5px;
}

.about-bullets {
    width: 50%;
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
    vertical-align: flex-end;
}

.about li {
    font-family: 'Poppins-Medium';
    font-size: 1.2rem;
    text-align: justify;
}

.about p {
    font-family: 'Poppins-Medium';
    font-size: 1.2rem;
    text-align: justify;
}

.about-more {
    // width: 90%;
    // margin-top: 1rem;
}

.about-more h2 {
    font-family: 'Poppins-Medium';
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    color: var(--primary-btn);
}

.about-more p {
    font-family: 'Poppins-Medium';
    font-size: 1.2rem;
}

.about span {
    color: var(--primary-btn);
}

@media only screen and (max-width: 700px) {
    .about-more {

    }
    .about-main-row {
        flex-direction: column;
    }
    .about-catch,
    .about-bullets {
        width: 90%;
        justify-content: center;
        align-items: center;
    }

    .about-bullets ul {
        list-style: none;
        text-align: center;
    }
}

@media only screen and (max-width: 480px) {
    .about-catch h1 {
        font-size: 1.5rem;
    }
    .about-catch {
        width: 95%;
        justify-content: center;
        align-items: center;
    }
    .about-bullets {
        // display: none;
    }
}

.title {
    color: var(--primary-btn);
}