:root {
    --black: black;
    --white: white;
    --basic-bg: #fcfbfd;
    --secondary-bg: #f4f5f8;
    --secondary-gray-bg: #F4F4F4;
    --light-gray: #E0E0E0;
    --primary-btn: #7c44f3;
    --gradient-primary-btn: #cbb4fa;
    --hover-effect: #edecee;
    --gray-btn: #8a8a8a;
    --gray-secondary-font: #686868;
    --primary-hover-btn: #632add;
    --colorful-yellow: #FFBA4A;
    --plan-primary-color: #D9CDF2;
    --plan-secondary-color: #C5B0F0;
}

//FONT
@font-face {
    font-family: 'Poppins-Bold';
    src: local('Poppins-Bold'),
        url('./fonts/poppins/Poppins-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: local('Poppins-SemiBold'),
        url('./fonts/poppins/Poppins-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Black';
    src: local('Poppins-Black'),
        url('./fonts/poppins/Poppins-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Regular';
    src: local('Poppins-Regular'),
        url('./fonts/poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Medium';
    src: local('Poppins-Medium'),
        url('./fonts/poppins/Poppins-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Light';
    src: local('Poppins-Light'),
        url('./fonts/poppins/Poppins-Light.ttf') format('truetype');
}