/* Plan.scss */

@media (max-width: 768px) {
    .subscription-card {
        width: calc(50% - 40px);
        margin: 200px;
    }
}

@media (max-width: 480px) {
    .subscription-card {
        width: calc(100% - 40px);
        margin: 200px;
    }
}
@keyframes float {
    0% {
        transform: translateY(0) translateX(0);
    }

    50% {
        transform: translateY(-4px) translateX(2px);
    }

    100% {
        transform: translateY(0) translateX(0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.plan {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10% auto;
    max-height: 100rem;
    z-index: 10;
}

.title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--primary-btn);
}

.contact-button {
    width: 30%;
    font-size: 1.5rem;
    border: none;
    background-color: var(--primary-btn);
    color: white;
    font-family: 'Poppins';
    padding: 0.5rem;
    border-radius: 5px;
}

.souscrire-button {
    font-size: 1rem;
    border: none;
    background-color: var(--primary-btn);
    color: white;
    font-family: 'Poppins';
    padding: 0.5rem;
    border-radius: 20px;
    border: 1px solid black;
}

.subscription-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.subscription-card {
    width: 15rem;
    height: 20rem;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    font-size: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-color: white;
    box-shadow: 0 0 20px 5px #9480D4;
    transition: box-shadow 0.3s ease;
    border: 1px solid black;
    &:hover {
        box-shadow: 0 0 40px 10px #9480D4;
    }
}

.subscription-card.visible {
        animation: fadeInDown 2s ease forwards, fadeIn 2s ease forwards, float 2s ease infinite;
    }


.subscription-card.stopped {
    animation-play-state: paused;
}

.subscription-card:hover {
    animation-play-state: paused;
}
.subscription-card h2 {
    position: relative;
}

.subscription-card h2::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
}

.button-with {
    width: auto;
}