.mission-detail-container {
    background-color: var(--basic-bg);
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    line-height: 160%;

    & h1 {
        text-align: left;
        font-size: 24px;
        font-family: "Poppins-Regular";
    }

    & p {
        text-align: left;
        font-size: 14px;
        font-family: "Poppins-Regular";
        color: var(--gray-btn);
    }
}

.mission-tool-line {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    width: 100%;
    justify-content: space-between;
}

.mission-borderBtn {
    border: 1px var(--primary-btn) solid;
    color: var(--primary-btn);
    background-color: transparent;
    cursor: pointer;
}

.search-name {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: flex-start;
}

.mission-input-block {
    position: relative;
    width: 30%;
    padding: 0;
    background-color: var(--basic-bg);
    & input {
        width: 100%;
        text-align: left;
        border-radius: 5px;
        height: 50px;
        font-size: 14px;
        font-family: 'Poppins-Regular';
        border-radius: 5px;
        outline: none;
        border: 1px solid #9a9a9a;
        background-color: var(--basic-bg);
    }

    & label {
        background-color: var(--basic-bg);
    }

    & button {
        min-width: 10px;

    }
}

.md-5 {
    width: 50%;
}

.md-3 {
    width: 30%;
}
.md-2 {
    width: 20%;
}

.md-1 {
    width: 10%;
}

.input_btn {
    min-width: 10px;
}

.scope-table-action {
    align-items: center;
}

.scope-action-icons {
    font-size: 20px;
    margin-left: 1rem;
    cursor: pointer;
}

.scope-badges {
    padding: 4px 10px;
    margin: .3rem;
    border-radius: 15px;
    background-color: var(--colorful-yellow);
}