$opacity-transition: opacity;
.mission-detail-container {
    background-color: var(--basic-bg);
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    line-height: 160%;
    & h1 {
        text-align: left;
        font-size: 24px;
        font-family: "Poppins-Regular";
        margin-right: 1rem;
    }
    & p {
        text-align: left;
        font-size: 14px;
        font-family: "Poppins-Regular";
        color: var(--gray-btn);

        &.title {
            color: #000; 
            font-size: 24px;
            font-weight: 700; 
        }
    
        &.subtitle {
            color: #000; 
            font-size: 16px;
            font-weight: 400; 
        }
    
        &.data {
            color: #7C44F3; 
            font-size: 22px;
            font-weight: 700; 
        }
    
        &.dtitle {
            font-size: 18px;
            font-weight: 400; 
            color: #686868; 
        }
    
        &.simple {
            font-size: 16px;
            font-weight: 400; 
            color: #686868; 
        }
    }
}

.mission-detail-topline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mission-detail-team {
    display: flex;
    flex-direction: row;
    align-items: center;
    & p {
        margin: 0;
        margin-left: 1rem;
        color: black;
        max-width: 30%;
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
    }

    & a {
        color: var(--gray-btn);
        cursor: pointer;
        font-size: 14px;
    }

    & a:hover {
        color: var(--primary-btn);
        transition: .5s;
    }
}

.scope-form-control {
    width: 70%;
    height: 2.7rem !important;
    padding: 0.5rem;
    letter-spacing: 0.15em;
    font-size: 14px;
    font-family: 'Poppins-Regular';
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--gray-btn);
}

.scope-form-control::placeholder {
    font-size: 1em;
}

.search-name {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: flex-start;
    align-items: center;
}

.mission-input-block {
    position: relative;
    width: 30%;
    padding: 0;
    background-color: var(--basic-bg);
    & input {
        width: 100%;
        text-align: left;
        border-radius: 5px;
        height: 50px;
        font-size: 14px;
        font-family: 'Poppins-Regular';
        border-radius: 5px;
        outline: none;
        border: 1px solid #9a9a9a;
        background-color: var(--basic-bg);
    }

    & label {
        background-color: var(--basic-bg);
    }

    & button {
        min-width: 10px;

    }
}

.md-5 {
    width: 50%;
}

.md-3 {
    width: 30%;
}
.md-2 {
    width: 20%;
}

.md-1 {
    width: 10%;
}

.input_btn {
    min-width: 10px;
}

.editBtn {
    min-width: 1rem;
    border: 1px var(--primary-btn) solid;
    border-radius: 60px;
    padding: .5rem;
    color: var(--primary-btn);
    background-color: transparent;
    cursor: pointer;
}

.scope-table-action {
    align-items: center;
}

.scope-action-icons {
    font-size: 20px;
    margin-left: 1rem;
    cursor: pointer;
}

.scope-badges {
    padding: 4px 10px;
    margin: .3rem;
    border-radius: 15px;
    background-color: var(--colorful-yellow);
}


.modal-wrapper-mission {
    z-index: 99;
    align-items: center;
    background: rgba(0, 0, 0, 0.219);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}

.modal-card-mission {
    max-width: 500px;
    opacity: 1;
    transform: translateY(-100px);
    transition: $opacity-transition;
    width: 100%;
    z-index: 1;
    text-align: start;
    padding: 16px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;

    & a {
        display: flex;
        width: 100%;
        justify-content: end;
    }
}

.text {
    font-style: "Poppins-regular";

    
}