django==4.2.7
djangorestframework==3.14.0
django-cors-headers==3.14.0
argon2-cffi==21.3
gunicorn==20.1.0
drf-yasg==1.21.5
faker==15.3.4
psycopg2==2.9.6
django-phonenumber-field[phonenumbers]
secure==0.3.0
Pillow==10.0.1
django-rest-knox==4.2.0
minio==7.1.14
django-storages==1.13.2
boto3==1.26.114
sendgrid==6.10.0
pymemcache==4.0.0
pdfkit==1.0.0
python-dateutil==2.8.2
numpy==1.25.0
tblib==2.0.0
weasyprint==60.2
pyotp==2.9.0